<footer class="pcFooter">
  <div class="container">
    <div class="menu d-flex">
      <ul class="nav d-flex">
        <li><a href="index.html">首頁</a></li>
        <li><a href="product.html">系列鏡框</a></li>
        <li><a href="">門市據點</a></li>
        <li><a href="">部落格</a></li>
        <li><a href="">常見問題</a></li>
      </ul>
      <ul class="socialLink d-flex">
        <li>
          <a href=""><img src="../assets/images/ic-social-fb.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="../assets/images/ic_social_ig.png" alt="" /></a>
        </li>
        <li>
          <a href=""
            ><img src="../assets/images/ic_social_line.png" alt=""
          /></a>
        </li>
      </ul>
    </div>
    <ul class="contactInfo">
      <li class="contactInfoItem">
        <span class="material-symbols-outlined">call</span
        ><a href="tel:+0800000000">0800-000-000</a>
      </li>
      <li class="contactInfoItem">
        <span class="material-symbols-outlined">mail</span
        ><a href="mailto:glasses@business.com">glasses@business.com</a>
      </li>
    </ul>
    <div class="divider"></div>
    <div class="copyright d-flex">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="d-flex">
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
<footer class="mobileFooter">
  <div class="container">
    <div class="menu d-flex">
      <ul class="contactInfo">
        <li class="contactInfoItem">
          <span class="material-symbols-outlined">call</span
          ><a href="tel:+0800000000">0800-000-000</a>
        </li>
        <li class="contactInfoItem">
          <span class="material-symbols-outlined">mail</span
          ><a href="mailto:glasses@business.com">glasses@business.com</a>
        </li>
      </ul>
      <ul class="socialLink d-flex">
        <li>
          <a href=""><img src="../assets/images/ic-social-fb.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="../assets/images/ic_social_ig.png" alt="" /></a>
        </li>
        <li>
          <a href=""
            ><img src="../assets/images/ic_social_line.png" alt=""
          /></a>
        </li>
      </ul>
    </div>

    <div class="divider"></div>
    <div class="copyright d-flex">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="serve d-flex">
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
