<header class="header">
  <div class="nav container d-flex">
    <div class="logo">
      <a href="index.html">
        <img src="../assets/images/logo-white.png" alt="" />
      </a>
    </div>
    <ul class="navbar d-flex">
      <li class="navbarItem"><a href="productOptical.html">系列鏡框</a></li>
      <li class="navbarItem"><a href="store.html">門市據點</a></li>
      <li class="navbarItem"><a href="">部落格</a></li>
      <li class="navbarItem"><a href="faq.html">常見問題</a></li>
    </ul>
  </div>
</header>
