// .header{
//   background: #69F0AE;
//   font-size: 64px;
// }
.header {
  background-color: var(--primary-color);
  flex-direction: row;
  /* height: 80px; */
}
.nav {
  justify-content: space-between;
}
.logo {
  padding: 20px;
  max-width: 80px;
  height: auto;
}
.logo img {
  max-width: 80px;
}
.navbar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbarItem a {
  color: var(--third-color);
  padding: 25px 32px;
  text-decoration: none;
  font-size: 20px;
}
