.faq {
  .subTitle {
    text-align-last: left;
    color: #000000;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 24px;
  }
  .faqList {
    h3 {
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
      padding-bottom: 8px;
    }
    p {
      line-height: 24px;
      padding-bottom: 24px;
    }
  }
}
