.productMenu {
  justify-content: space-around;
  .productMenuItem {
    flex: 1;
    border: 1px solid #dcdcdc;
    text-align: center;
    &.active {
      a {
        border-bottom: 8px solid var(--primary-color);
      }
    }
    a {
      width: 100%;
      display: block;
      color: #000000;
      font-size: 32px;
      line-height: 48px;
      padding: 24px 0;
      font-weight: bold;
    }
    &:hover {
      a {
        border-bottom: 8px solid var(--primary-color);
      }
    }
  }
}

.productArea h2 {
  font-size: 32px;
  text-align: center;
  line-height: 63px;
}
.productList {
  margin-top: 24px;
  gap: 24px;
  flex-wrap: wrap;
  .productListItem {
    width: calc(25% - 18px);
  }
}
.productInfo {
  justify-content: space-between;
  p {
    line-height: 36px;
  }
  .productPrice {
    color: var(--primary-color);
  }
}
.productColorList {
  flex-direction: row;
  gap: 8px;
  .productColorItem {
    width: 24px;
    height: 24px;
    &:nth-child(1) {
      background-color: #5f3e2d;
    }
    &.productColorItem:nth-child(2) {
      background-color: #b75929;
    }
  }
}
.pagination {
  justify-content: center;
  .paginationItem {
    border: 1px solid #555555;
    padding: 12px 16px;
    a {
      font-size: 18px;
      color: #555555;
    }
  }
  .pageActive {
    background-color: #000000;
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }
  .next {
    background-color: #f2f2f2;
  }
}
.productSunglass .productList .productListItem {
  width: calc(33% - 18px);
}
.mdBanner {
  display: none;
}
@media screen and (max-width: 992px) {
  .productMenu {
    margin: 0 -12px;
    .productMenuItem {
      a {
        font-size: 24px;
        line-height: 36px;
        padding: 16px 0;
      }
    }
  }
  .productOptical {
    .productList {
      .productListItem {
        width: calc(50% - 18px);
      }
    }
  }
  .productSunglass {
    .productList {
      .productListItem {
        width: calc(50% - 18px);
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .lgBanner {
    display: none;
  }
  .mdBanner {
    display: flex;
  }
  .productMenu {
    .productMenuItem {
      a {
        font-size: 16px;
        line-height: 26px;
        padding: 12px 0;
      }
    }
  }
  .productOptical {
    .productList {
      .productListItem {
        width: 100%;
      }
    }
  }
  .productSunglass {
    .productList {
      .productListItem {
        width: 100%;
      }
    }
  }
  .pagination {
    justify-content: center;
    .paginationItem {
      padding: 12px;
      a {
        font-size: 16px;
      }
    }
  }
}
