.store {
  .title {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 33px;
    padding-left: 16px;
    border-left: 8px solid var(--primary-color);
    font-weight: bold;
  }
  .selectLocation {
    margin-bottom: 40px;
    label {
      font-size: 24px;
      line-height: 36px;
      margin-right: 28px;
    }
    #location {
      font-size: 18px;
      width: 304px;
    }
  }
  .storeList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    .storeListItem {
      width: calc(33% - 18px);
      h3 {
        font-size: 24px;
        line-height: 36px;
        padding-left: 24px;
        border: 1px solid #00000020;
      }
      .info {
        flex-direction: column;
        padding: 24px 26px 16px;
        border: 1px solid #00000020;
        border-top: 0px;
        span {
          margin-right: 8px;
        }
      }
      .detail {
        display: block;
        text-align: center;
        font-size: 19px;
        color: var(--third-color);
        background-color: #000000;
        padding: 16px 0;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .store {
    .storeList {
      .storeListItem {
        width: calc(50% - 18px);
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .store {
    .storeList {
      .storeListItem {
        width: 100%;
      }
    }
  }
}
